.product-form{
    max-width: 400px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-form label{
    /* to align item */
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.product-form input{
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
}

.product-form button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-form button:hover{
    background-color: #1d4ed8;
}