.navbar{
    height: 60px;
    background-color: #d08b90;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

.navbar-right{
    font-weight: bold;
}
