.product-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

.product-table th,
.product-table td{
    padding: 12px;
    border: 1px solid #e5e7eb;
    text-align: center;
}

.product-table th{
    background-color: #f3f4f6;
    font-weight: bold;
}

.product-table th:hover{
    background-color: #f9fafb;
}