.sidebar{
    width: 220px;
    background-color: #430004;
    color: white;
    padding: 20px;
}
.sidebar-title {
  margin-bottom: 30px;
  text-align: center;
}

.sidebar-menu{
    list-style: none;
    padding: 0;
}
.sidebar-menu li{
    /* for sapce bewtween eachother */
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
}
.sidebar-menu li:hover{
    background-color: #582a2d;
}

.sidebar a{
    color: white;
    text-decoration: none;
    display: block;
}
.sidebar a:hover{
    text-decoration: none;
}